.gallery_cont{
    width: 100%;
}
.head_cont{
    width: 90%;
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    
}
.head_cont .head_text{
    font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.25px;
  text-align: left;
  color: #070710;
}
.gal_cont{
    margin: auto;
    width: 90%;
    height: 30rem;
    border: 1px solid red;
}