:root { 
--black_900_b2:#030303b2; 
--gray_500_1e:#9395981e; 
--gray_50:#f8f8f8; 
--black_900_1e:#0000001e; 
--black_900_e5_01:#070710e5; 
--white_A700_11:#ffffff11; 
--gray_600_a0:#808080a0; 
--black_900_01:#000000; 
--black_900:#070710; 
--gray_900_e5:#1e1810e5; 
--gray_600:#808080; 
--gray_700:#62615c; 
--blue_gray_100:#d9d9d9; 
--black_900_e5:#030303e5; 
--gray_600_23:#80808023; 
--amber_400:#ffc01c; 
--gray_900:#1e1810; 
--gray_900_01:#1f1a13; 
--orange_800:#cb7908; 
--black_900_0f:#0000000f; 
--orange_400:#fcb131; 
--red_900_a0_01:#b40a0aa0; 
--orange_300:#f8b84e; 
--gray_100:#f8f7f2; 
--black_900_cc:#070710cc; 
--white_A700_bc:#ffffffbc; 
--red_900_a0:#b40b0ba0; 
--white_A700:#ffffff; 
}